<div class='content'>
    <div>
        <h1>Nueva contraseña</h1>
        <div class="formContainer">
            <form class="form" action="/api/users/resetPassword" method="POST">
                <input class="marginForm" type="email" name="email" placeholder="Ingresa tu eMail" required>
                <input class="marginForm" type="number" name="token" placeholder="Codigo de seguridad" required>
                <div class="lgFormItem marginForm inLine">
                    <input class="lgFormPass" id="loginPass" type="password" name="password" placeholder="Contraseña" required>
                    <img class="ico" src="/img/noVisible.png" id="loginPass-ico" onclick="pass()" alt="">
                </div>
                <div class="lgFormItem marginForm inLine">
                    <input class="lgFormPass" id="loginRePass" type="password" name="repassword" placeholder="Reingrese Contraseña" required>
                    <img class="ico" src="/img/noVisible.png" id="loginRePass-ico" onclick="pass2()" alt="">
                </div>
                <button>Restablecer!</button>
            </form>
        </div>
        {{#if error}}
            <p>{{error}}</p>
        {{/if}}
    </div>
</div>