<div class='content'>
    <div class="flex colum center">
        <div class="border w60 flex colum center">
            <h2>Bienvenido viajero!!!</h2>
            </br>
            <h3 class="homeTxt">En esta tienda podras encontrar todo lo necesario para enbarcarte en tu viaje POKEMON!</h3>
            </br>
            <div class="flex w100 home">
                <h3><a class="linkTag" href="/login">Logueate</a></h3>
                <h3><a class="linkTag" href="/register">Registrate</a></h3>
            </div>
        </div>
    </div>
</div>
