<div class="content">
    <div class="formContainer">
        <p>Restablece la contaseña de tu cuenta!</p>
        <form class="form" action="/api/users/requestPasswordReset" method="POST">
            <input class="marginForm" type="text" name="email" id="email" placeholder="Ingrese su eMail!" required>
            <button>Restablecer!</button>
        </form>
    </div>
</div>