<div class="footer">
    <div class="w100 flex colum center">
        <div class="w100 flex between footerParams">
            <p>Diseño por parte de MAMMANA Javier, todos los derechos reservados.-</p>
            <ul class="flex">
                <li><img src="img/instagram.png" alt="Instagram" /></li>
                <li><img src="img/facebook.png" alt="facebook" /></li>
                <li><img src="img/whatsapp.png" alt="Whatsapp" /></li>   
            </ul>
        </div>
    </div>

</div>