{{!-- <li><a class="linkTag" href="/team">Equipo</a></li> --}}
<li><a class="linkTag" href="/products">Tienda</a></li>
<li><a class="linkTag" href="/buys/tid">Compras</a></li>
<li><a class="linkTag" href="/favorite">Favoritos</a></li>
<li><a class="linkTag" href="/realTimeProduct">Productos</a></li>
<li><a class="linkTag" href="/chats">Chat</a></li>